.transportItem {

    --border-radius: 10px;
    --background: #fff;
    box-shadow: 1px 3px 20px 0px #0000000f;
    margin-bottom: 7px;
    a {
      display:block;       
    }

    .content-wrapper {

        padding: 15px 15px 10px;
    
        h2{
            font-size: 18px;
            font-weight: 700;
            margin: 0;
            color: #000;
            font-family: 'Hind Siliguri', sans-serif;
        }
        p {
            margin: 0;
            font-weight: 500;
            margin-top: 5px;
            font-family: 'Hind Siliguri', sans-serif;

            span {
                color: #000;
            }
        }
    }

    .click_details {
        margin: 0 !important;
    }

    .click_arrow_icon {
        width: 35px;
        height: 35px;
    }
    
    // ion-button {

    //     --background: #5a55ca;
    //     --background-focused: #6f6bbb;
    //     --background-activated: #6f6bbb;
    //     --padding-top: 1rem;
    //     --padding-bottom: 1rem;
    //     --padding-start: 0.75rem;
    //     --padding-end: 0.75rem;
    //     margin-top: -0.2rem;
    // }
}