.dwa-offline-content-wrap{
    height: 100%;
}
.offline-content{
   
    ion-text{
        display: block;
        font-size: 19px;
        font-weight: 700;
        font-family: "Hind Siliguri", sans-serif;
        text-transform: uppercase;
    }

    .offline-content-text {
       margin-top: 10px;
		font-family: 'Hind Siliguri', sans-serif;
    }
}


.offline-button{
    --border-radius: 35px;
    margin-top: 80px;
    --background: mediumslateblue;

    .ion-react-icon {
        width: 100%;
        height: 60px;
    }
}

